  footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 10px;
      background-color: orangered;
  }

  footer nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;
      background-color: yellow;
  }

  footer nav>* {
      padding: 10px;
      background-color: pink;
  }

  /* .footer-impressum {
      display: flex;
      align-items: center;
      justify-content: right;
      padding: 0 10px;
  } */