  footer a {
      text-decoration: none;
  }

  .footer-socialmedia {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
  }

  .footer-socialmedia-links {
      padding: 0 0 5px 0;
  }

  .footer-impressum {
      display: flex;
      align-items: center;
      justify-content: right;
      padding: 0 10px;
  }